@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --background: hsl(300 50% 100%);
  --foreground: oklch(0.145 0 0);
  --foreground: hsl(300 0% 4%);
  --card: oklch(1 0 0);
  --card: hsl(300 50% 100%);
  --card-foreground: oklch(0.145 0 0);
  --card-foreground: hsl(300 0% 4%);
  --popover: oklch(1 0 0);
  --popover: hsl(300 50% 100%);
  --popover-foreground: oklch(0.145 0 0);
  --popover-foreground: hsl(300 0% 4%);
  --primary: oklch(0.205 0 0);
  --primary: hsl(330 0% 9%);
  --primary-foreground: oklch(0.985 0 0);
  --primary-foreground: hsl(300 0% 98%);
  --secondary: oklch(0.97 0 0);
  --secondary: hsl(300 0% 96%);
  --secondary-foreground: oklch(0.205 0 0);
  --secondary-foreground: hsl(330 0% 9%);
  --muted: oklch(0.97 0 0);
  --muted: hsl(300 0% 96%);
  --muted-foreground: oklch(0.556 0 0);
  --muted-foreground: hsl(300 0% 45%);
  --accent: oklch(0.97 0 0);
  --accent: hsl(300 0% 96%);
  --accent-foreground: oklch(0.205 0 0);
  --accent-foreground: hsl(330 0% 9%);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive: hsl(357.18 100% 45%);
  --border: oklch(0.922 0 0);
  --border: hsl(330 0% 90%);
  --input: oklch(0.922 0 0);
  --input: hsl(330 0% 90%);
  --ring: oklch(0.708 0 0);
  --ring: hsl(0 0% 63%);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-1: hsl(18.01 100% 48%);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-2: hsl(174.71 100% 28.999999999999996%);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-3: hsl(195.82 72% 23%);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-4: hsl(43.66 100% 50%);
  --chart-5: oklch(0.769 0.188 70.08);
  --chart-5: hsl(36.49 100% 50%);
  --sidebar: oklch(0.985 0 0);
  --sidebar: hsl(300 0% 98%);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-foreground: hsl(300 0% 4%);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary: hsl(330 0% 9%);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-primary-foreground: hsl(300 0% 98%);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent: hsl(300 0% 96%);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-accent-foreground: hsl(330 0% 9%);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-border: hsl(330 0% 90%);
  --sidebar-ring: oklch(0.708 0 0);
  --sidebar-ring: hsl(0 0% 63%);
}

@layer base {
  *:where(button, input, select, textarea, fieldset) {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
